# Hysing et al. (2009) test case 1: rho 1000/100, mu 10/1, g 0.98, sigma 24.5 (Re 35, Eo 10)
[FORMAT]
2.0

[DATA FILE]
data/mpsRisingBubble2D.h

[MESH FILE]
meshes/hysing_h40.msh

[PRESSURE SOLVER]
SPLIT

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX DIMX]
2

[BOX DIMY]
2

[BOX NX]
16

[BOX NY]
16

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TWO PHASE FLOW]
TRUE

[LEVEL SET MOTION]
FLOW

[DENSITY INSIDE]
100.0

[DENSITY OUTSIDE]
1000.0

[VISCOSITY INSIDE]
1.0

[VISCOSITY OUTSIDE]
10.0

[GRAVITY Y]
-0.98

[TIME STEP]
0

[FLOW ORDER]
2

[PRESSURE EXTRAPOLATION ORDER]
2

[START TIME]
0

[FINAL TIME]
3

[OUTPUT INTERVAL]
0.05

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
hysingTC1

[REINITIALIZATION]
TRUE

[SUBCELL MARKING]
DETECTOR

[VELOCITY LINEAR SOLVER]
PCG

# can be IPDG, or CONTINUOUS
[VELOCITY DISCRETIZATION]
IPDG

[VELOCITY LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, MULTIGRID, or OAS
[VELOCITY PRECONDITIONER]
JACOBI

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[VELOCITY INITIAL GUESS STRATEGY]
EXTRAP

[VELOCITY INITIAL GUESS HISTORY SPACE DIMENSION]
9

[VELOCITY INITIAL GUESS EXTRAP DEGREE]
3

[VELOCITY INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[VELOCITY VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[VELOCITY MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[VELOCITY PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[VELOCITY PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[VELOCITY PARALMOND CHEBYSHEV DEGREE]
2

###########################################

#################################################
########## Pressure Solver Options ##############
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[PRESSURE LINEAR SOLVER]
FPCG

[PRESSURE LINEAR SOLVER STOPPING CRITERION]
ABS/REL-INITRESID

# can be IPDG, or CONTINUOUS
[PRESSURE DISCRETIZATION]
IPDG

# can be NONE, JACOBI, MASSMATRIX, PARALMOND, SEMFEM, or MULTIGRID
[PRESSURE PRECONDITIONER]
MULTIGRID

# can be LAST, ZERO, CLASSIC, QR, or EXTRAP
[PRESSURE INITIAL GUESS STRATEGY]
QR

[PRESSURE INITIAL GUESS HISTORY SPACE DIMENSION]
9

[PRESSURE INITIAL GUESS EXTRAP DEGREE]
3

[PRESSURE INITIAL GUESS EXTRAP COEFFS METHOD]
MINNORM

[PRESSURE VERBOSE]
TRUE

########## MULTIGRID Options ##############

# can be ALLDEGREES, HALFDEGREES, HALFDOFS
[PRESSURE MULTIGRID COARSENING]
HALFDOFS

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE MULTIGRID SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE MULTIGRID CHEBYSHEV DEGREE]
2

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PRESSURE PARALMOND CYCLE]
KCYCLE

# can be DAMPEDJACOBI or CHEBYSHEV
[PRESSURE PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PRESSURE PARALMOND CHEBYSHEV DEGREE]
2

###########################################



[SURFACE TENSION]
24.5
#24.5

[CFL NUMBER]
0.5

[PRESSURE ITERATIONS]
1
